.naver {
  height: 300px;
  width: 60%;
  align-content: center;

}

.youtube {
  height: 300px;
  width: 60%;
  align-content: center;

}

header {
  background: white;
  padding: 2rem;
  text-align: center;
  font-family: 'PT Serif', serif;
  color: #ff99ff;
}

h3 {
  font-family: 'PT Serif', serif;
  color: color: #00cc66;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

ul li a{
  font-family: 'Montserrat', sans-serif;
  color: #00994d;
}

footer a {
  font-family: 'PT Serif', serif;
}
