.naver {
  height: 300px;
  width: 50%;
  align-content: center;

}

.youtube {
  height: 300px;
  width: 50%;
  align-content: center;

}

header {
  background: palegreen;
  padding: 2rem;
  text-align: center;
}
