.naver {
  height: 300px;
  width: 50%;
  align-content: center;
  padding-top: 1rem;
  padding-bottom:1rem;
}

.youtube {
  height: 300px;
  width: 50%;
  align-content: center;
  padding-top: 1rem;
  padding-bottom:1rem;
}

header {
  background: palegreen;
  padding: 2rem;
  text-align: center;
}
