.pagecontainer2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .2fr .2fr 1fr .2fr;
  margin: auto;
  width: 90vw;
  background-color: white;

  /*a relative viewport width*/
}

img {
  height: auto;
  width: 50%;
  align: left
}

header {
  grid-row: 1;
  grid-column: 1;
  background: white;
  padding: 2rem;
  text-align: center;
  font-family: 'PT Serif', serif;
  color: #ff99ff;
}

section {
  grid-row: 3;
  grid-column: 1;
}

h3 {
  font-family: 'PT Serif', serif;
  color: color: #00cc66;
}

p {
  font-family: 'Montserrat', sans-serif;
}

ul li a{
  font-family: 'Montserrat', sans-serif;
}

footer a {
  font-family: 'Montserrat', sans-serif;
  grid-row: 4;
  grid-column: 1;
}
